.carousel-item {
    height: 60vh;
    min-height: 200px;
    margin-top: 0%;
}

.bg-1 {
    background-image: url(../img/p1/pc/p1.png);
}

.bg-2 {
    background-image: url(../img/p1/pc/p2.png);
}

.bg-3 {
    background-image: url(../img/p1/pc/p3.png);
}

.bg-1,
.bg-2,
.bg-3 {
    -webkit-background-size: cover;
    background-size: cover;
}

.carousel-caption {
    bottom: 220px;
    z-index: 2;
}

.carousel-indicators {
    bottom: -20px;
    z-index: 0;
}

.carousel-indicators button {
    width: 200px !important;
}

.carousel-control-prev, .carousel-control-next {
    opacity: 5;
}



@media only screen and (min-width: 768px) and (max-width: 991px) {
    
    .bg-1 {
        background-image: url(../img/p1/mobile/p1m.png);
    }

    .bg-2 {
        background-image: url(../img/p1/mobile/p1m.png);
    }

    .bg-3 {
        background-image: url(../img/p1/mobile/p1m.png);
    }

    .carousel-indicators {
        bottom:-50px;
        z-index: 100;
        
    }


    .carousel-item {
        height: 55vh;
        min-height: 0px;
    }

    .carousel-control-prev, .carousel-control-next {
        margin-top: 0%;
        opacity: 5;
    }
}

