.cont {
    margin-top: 5%;
}

.cont-left {
    float: left;
    margin-left: 18%;
    margin-bottom: 10%;
}

.cont-right {
    float: right;
    margin-right: 15%;
}

.cont-right h1 {
    font-family: 'heavitas', arial;
    font-size: 2.3em;
    margin-bottom: 6%;
}

input {
    box-sizing: border-box;
    border: 3px solid #c2c2c2;
    border-radius: 3px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    width: 400px;
    height: 50px;
}

input:focus {
    border: 3px solid #9c9c9c;
}

input::placeholder {
    font-family: arial;
}


textarea::placeholder {
    font-family: arial;
}

input[type='text'],
input[type='email'],
textarea {
    padding: 10px;
}

.form-name {
    margin-bottom: 20px;
}

.form-mail {
    margin-bottom: 20px;
}

.form-msg {
    resize: none;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 3px solid #c2c2c2;
    outline: none;
    border-radius: 3px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.form-msg:focus {
    border: 3px solid #9c9c9c;
}



.form-send {
    border-style: none;
    background-color: #c2c2c2;
    border-radius: 3px;
    font-family: 'coolvetica', arial;
    padding: 10px 180px;
    transition: 0.3s;
}

.form-send:hover {
    background-color: #9c9c9c;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}


.cont-insta {
    margin-top: -10%;
}

.cont-insta img {
    width: 50px;
    padding-right: 10px;
    padding-bottom: 5px;
}

.cont-insta a {
    text-decoration: none;
    color: #9e9e9e;
    font-size: 1.5em;
    font-family: 'coolvetica';
    background-color: #000000;
    padding: 20px 62px;
}

.cont-insta a:hover {
    color: rgb(95, 95, 95);
}

@media(max-width: 1100px) {
    .cont {
        display: inline-block;
        justify-content: center;
        align-items: center;
    }

    .cont-left {
        margin-left: 15%;
    }

    .cont-left-img {
        width: 80%;
    }

    .cont-right {
        margin-left: 15%;
    }

    .cont-right h1 {
        font-size: 3.7em;
    }

    input[type='text'],
    input[type='email'],
    textarea {
        width: 100%;
        height: 80px;
        font-size: 2em;
    }

    input {
        box-sizing: border-box;
        border: 8px solid #c2c2c2;
        border-radius: 9px;
    }

    input:focus {
        border: 8px solid #9c9c9c;
    }

    .form-msg {
        font-size: 2em;
        border: 8px solid #c2c2c2;
        border-radius: 9px;
    }

    .form-msg:focus {
        border: 8px solid #9c9c9c;
    }


    input::placeholder {
        font-size: 1.0em;
    }

    textarea::placeholder {
        font-size: 1.0em;
    }

    textarea {
        width: 100%;
        height: 200px;
    }

    .form-send {
        border-style: none;
        font-size: 3em;
        background-color: #c2c2c2;
        border-radius: 5px;
        padding: 10px 160px;
        transition: 0.3s;
        margin-left: 19%;
    }

    .cont-insta {
        margin-top: -10%;
    }

    .cont-insta img {
        width: 50px;
        padding-right: 10px;
        padding-bottom: 5px;
    }

    .cont-insta a {
        text-decoration: none;
        color: #9e9e9e;
        font-size: 3.2em;
        font-family: 'coolvetica';
        background-color: #000000;
        padding: 20px 67px;
    }

    .cont-insta a:hover {
        color: rgb(95, 95, 95);
    }
}