body {
    background-image: url(/img/home/home-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

@media(max-width:1000px) {
    body {
        background-image: url(/img/home/home-img-mobile.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
}