.shop-produtos {
    display: flex;
    align-items: center;   
    justify-content: center;
}

.shop-produtos a:nth-child(1) {
    padding-right: 10%;
}
.home-img-mobile {
    display: none;
}
.home-img {
    max-width: 100%;
    display: block;
}

@media(max-width:1100px) {
    .home-img-mobile {
        display: block;
        max-width: 100%;
    }
    .home-img {
        display: none;
    }

    .shop-produtos {
        display: grid;
        justify-items: center;
        margin-top: 5%;
        margin-bottom: 10%;
    }

    .shop-produtos img:nth-child(1) {
        padding-bottom: 10%;
    }

    .shop-produtos img {
        width: 150%;
    }

    .shop-produtos a {
        display: grid;
        justify-items: center;
    }
}


