.shop-produtos {
    display: grid;
    justify-items: center;
    margin-top: 5%;
    margin-bottom: 10%;
}
.title {
    margin-top: 2%;
    font-size: 30px;
    font-family: 'comforta',arial;
}

.price {
    font-size: 30px;
    font-family: 'comforta',arial;
}

.home-img-mobile {
    display: none;
}
.home-img {
    max-width: 100%;
    display: block;
}


@media(max-width:1100px) {
    .home-img-mobile {
        display: block;
        max-width: 100%;
    }
    .home-img {
        display: none;
    }

    .shop-produtos {
        display: grid;
        justify-items: center;
        margin-top: 5%;
        margin-bottom: 10%;
    }

    .title {
        margin-top: 3%;
        font-size: 50px;
        font-family: 'comforta',arial;
    }

    .price {
        margin-top: -0%;
        font-size: 50px;
        font-family: 'comforta',arial;
    }

    .shop-produtos img {
        width: 150%;
    }

    .shop-produtos a {
        display: grid;
        justify-items: center;
    }
}


